<app-header></app-header>
<div class="details-container container-fluid">
  <div class="image-container">
    <img [src]="showDetail?.image?.original" />
    <div class="gradient-container-1"></div>
    <div class="gradient-container-2"></div>
  </div>
  <div class="details-section">
    <h2>{{ showDetail?.name }}</h2>
    <div class="show-info-1">
      <span>IMDb&nbsp;{{ showDetail?.rating?.average }}</span>
      <span>{{ showDetail?.runtime }}&nbsp;Min</span>
      <span>{{ showDetail?.premiered | date: "yyyy" }}</span>
    </div>
    <div class="text-justify" [innerHTML]="showDetail?.summary"></div>
    <div class="icons-section">
      <span>
        <i class="bi bi-play-circle"></i>
      </span>
      <span>
        <i class="bi bi-hand-thumbs-up"></i>
      </span>
      <span>
        <i class="bi bi-hand-thumbs-down"></i>
      </span>
      <span>
        <i class="bi bi-plus-circle"></i>
      </span>
      <span>
        <i class="bi bi-download"></i>
      </span>
    </div>
    <div class="show-info-2">
      <dl>
        <dt>Starring</dt>
        <dd>
          <span *ngFor="let castInfo of castDetail; let last = last">
            {{ castInfo.person.name }}{{ last ? "." : "," }}
          </span>
        </dd>
      </dl>
      <dl>
        <dt>Language</dt>
        <dd>
          {{ showDetail?.language }}
        </dd>
      </dl>
      <dl>
        <dt>Genre</dt>
        <dd>
          <span *ngFor="let genreInfo of showDetail.genres; let last = last">
            {{ genreInfo }}{{ last ? "." : "," }}
          </span>
        </dd>
      </dl>
      <dl>
        <dt>Type</dt>
        <dd>
          {{ showDetail?.type }}
        </dd>
      </dl>
      <dl>
        <dt>Status</dt>
        <dd>
          {{ showDetail?.status }}
        </dd>
      </dl>
    </div>
  </div>
</div>
