.maze-flix-logo {
  color: #dc3545;
  font-size: x-large;
  cursor: pointer;
}
.user-name {
  padding: 0 10px;
}
.guest-icon {
  vertical-align: middle;
}
.bi-person-circle::before {
  font-size: 35px;
}
.invalid-show::placeholder {
  color: #dc3545;
  opacity: 1; /* Firefox */
}
.invalid-show:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dc3545;
}
.invalid-show::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dc3545;
}
.input-group {
  background-color: #141414 !important;
  border-radius: 0.25rem !important;
  input {
    background-color: #141414;
    color: #fff;
  }
  .valid-input{
    border-color: #6c757d;
  }
}
@media only screen and (max-width: 576px) {
  .text-right {
    text-align: center !important;
  }
  .justify-content-end{
    justify-content: center !important;
  }
}
