<nav class="container-fluid">
  <div class="row bg-dark text-white">
    <div class="col-12 col-md-3 align-self-center text-center content-padding">
      <label (click)="onMazeLogoClick()" class="maze-flix-logo"
        >MAZE FLIX</label
      >
    </div>
    <div class="col-12 col-sm-8 col-md-6 content-padding">
      <form
        [formGroup]="showSearchForm"
        class="row justify-content-end"
        (ngSubmit)="onSubmit()"
      >
        <div class="col-10 col-md-8 col-lg-6">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input
              type="text"
              id="search"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  isFormHasError && showSearchForm.controls.showName.errors,
                'invalid-show':
                  isFormHasError && showSearchForm.controls.showName.errors
              }"
              formControlName="showName"
              [placeholder]="
                isFormHasError && showSearchForm.controls.showName.errors
                  ? 'Enter Show Name'
                  : 'Search'
              "
              (change)="onShowNameChange()"
              maxlength="30"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-outline-danger">Go</button>
        </div>
      </form>
    </div>
    <div
      class="
        col-12 col-sm-4 col-md-3
        content-padding
        text-center
        align-self-center
      "
    >
      <i class="bi bi-person-circle guest-icon"></i>
      <span>
        <label class="user-name">Guest</label>
        <i class="bi bi-caret-down"></i>
      </span>
    </div>
  </div>
</nav>
