<app-header></app-header>
<div class="carousel-section primary-bg-color">
  <app-carousel
    #topRatedCarousel
    carouselTitle="Top Rated Shows"
    carouselId="0"
  ></app-carousel>
</div>
<div class="carousel-section secondary-bg-color">
  <app-carousel
    #genre1Carousel
    carouselTitle="Science-Fiction"
    carouselId="1"
  ></app-carousel>
</div>
<div class="carousel-section primary-bg-color">
  <app-carousel
    #genre2Carousel
    carouselTitle="Horror"
    carouselId="2"
  ></app-carousel>
</div>
<div class="carousel-section secondary-bg-color">
  <app-carousel
    #genre3Carousel
    carouselTitle="Crime"
    carouselId="3"
  ></app-carousel>
</div>
<div class="carousel-section primary-bg-color">
  <app-carousel
    #genre4Carousel
    carouselTitle="Action"
    carouselId="4"
  ></app-carousel>
</div>
<div class="carousel-section secondary-bg-color">
  <app-carousel
    #genre5Carousel
    carouselTitle="Comedy"
    carouselId="5"
  ></app-carousel>
</div>
<div class="carousel-section primary-bg-color">
  <app-carousel
    #genre6Carousel
    carouselTitle="Family"
    carouselId="6"
  ></app-carousel>
</div>
