<div class="carousal-container">
  <div class="carousel-title">{{ carouselTitle }}</div>
  <button
    type="button"
    [id]="'moveLeft' + carouselId"
    (click)="onLeftClick()"
    class="slider-btn btn-left"
  >
    <i class="bi bi-chevron-left"></i>
  </button>
  <div (click)="onTvShowClick()" class="slider" [id]="'mySlider' + carouselId">
    <div
      *ngFor="let showInfo of showList"
      class="movie"
      [id]="'movie' + carouselId"
    >
      <img [src]="showInfo.image.original" />
      <div class="description">
        <label class="tile-title">{{ showInfo.name }}</label>
      </div>
    </div>
  </div>
  <button
    type="button"
    [id]="'moveRight' + carouselId"
    (click)="onRightClick()"
    class="slider-btn btn-right"
  >
    <i class="bi bi-chevron-right"></i>
  </button>
</div>
