<div class="carousal-container">
  <div class="carousel-title">{{ carouselTitle }}</div>
  <button
    type="button"
    [id]="'moveLeft' + carouselId"
    (click)="onLeftClick()"
    class="btn-nav btn-left"
  >
    <i class="bi bi-chevron-left"></i>
  </button>
  <div class="slider" [id]="'mySlider' + carouselId">
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
    <div class="movie" [id]="'movie' + carouselId">
      <img
        src="https://static.tvmaze.com/uploads/images/original_untouched/4/10448.jpg"
      />
      <div class="description">
        <div class="tile-title">Top Gear</div>
      </div>
    </div>
  </div>
  <button
    type="button"
    [id]="'moveRight' + carouselId"
    (click)="onRightClick()"
    class="btn-nav btn-right"
  >
    <i class="bi bi-chevron-right"></i>
  </button>
</div>
