.carousal-container {
  position: relative;
  .carousel-title {
    position: absolute;
    padding: 1.5rem 4rem;
    font-weight: 600;
    font-size: x-large;
    z-index: 9999;
  }
  .slider {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    position: relative;
    padding-top: 80px;
    padding-bottom: 30px;
    .show-info {
      width: 15.5vw;
      cursor: pointer;
      height: auto;
      display: inline-block;
      position: relative;
      margin-right: 15px;
      font-size: 0.8rem;
      transition: all 450ms ease-in-out;
      .gradient-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 10px;
      }
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }
    .gradient-container:hover {
      transition: 900ms ease-in-out all;
      background-image: linear-gradient(0deg, #141414 0%, #14141400 100%);
      .play-button {
        display: block;
      }
      .description {
        display: block;
      }
    }
    .show-info:hover {
      transform: scale(1.2);
      transition: 450ms ease-in-out all;
      z-index: 2;
      opacity: 1;
    }
    .show-info:first-child {
      margin-left: 50px !important;
    }
    .show-info:last-child {
      margin-right: 50px !important;
    }
    .description {
      position: absolute;
      display: none;
      z-index: 1;
      bottom: 0;
      font-size: medium;
      font-weight: 400;
      padding: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      white-space: normal;
    }
    .play-button {
      position: absolute;
      display: none;
      top: 40%;
      left: 40%;
      font-size: 50px;
      color: #dedede;
    }
    @media only screen and (max-width: 992px) {
      .show-info {
        width: 22.5vw;
      }
    }
    @media only screen and (max-width: 768px) {
      .show-info {
        width: 45vw;
      }
    }
    @media only screen and (max-width: 576px) {
      .show-info {
        width: 80vw;
      }
    }
  }
  .slider-btn {
    width: 50px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    background-color: #0000004d;
    outline: none;
    border: none;
    color: #fff;
    top: 80px;
    bottom: 30px;
    z-index: 20;
    visibility: hidden;
    font-weight: 900;
    font-size: 35px;
  }
  .btn-right {
    right: 0px;
  }
  .btn-left {
    left: 0px;
  }
}
.carousal-container:hover {
  .slider-btn {
    visibility: visible;
  }
}
