<div class="carousal-container">
  <div class="carousel-title">{{ carouselTitle }}</div>
  <button
    type="button"
    [id]="'btnLeft_' + carouselId"
    (click)="onLeftClick()"
    class="slider-btn btn-left"
  >
    <i class="bi bi-chevron-left"></i>
  </button>
  <div class="slider" [id]="'slider_' + carouselId">
    <div
      *ngFor="let showInfo of showList"
      class="show-info"
      [id]="'showInfo_' + carouselId"
      (click)="onTvShowClick(showInfo)"
    >
      <img [src]="showInfo.image.medium" />
      <div class="gradient-container">
        <div class="play-button">
          <i class="bi bi-play-circle-fill"></i>
        </div>
        <span class="description">{{ showInfo.name }}</span>
      </div>
    </div>
  </div>
  <button
    type="button"
    [id]="'btnRight_' + carouselId"
    (click)="onRightClick()"
    class="slider-btn btn-right"
  >
    <i class="bi bi-chevron-right"></i>
  </button>
</div>
