<nav class="container-fluid">
  <div class="row bg-dark">
    <div
      class="
        col-12 col-sm-4 col-md-3
        align-self-center
        text-center
        content-padding
      "
    >
      <label (click)="onMazeLogoClick()" class="maze-flix-logo"
        >MAZE FLIX</label
      >
    </div>
    <div class="col-12 col-sm-8 col-md-9 content-padding">
      <form
        [formGroup]="showSearchForm"
        class="row justify-content-end"
        (ngSubmit)="onSubmit()"
      >
        <div class="col-8 col-md-6 col-lg-4">
          <div class="input-group">
            <input
              type="text"
              id="search"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  isFormHasError && showSearchForm.controls.showName.errors,
                'invalid-show':
                  isFormHasError && showSearchForm.controls.showName.errors,
                'btn-outline-secondary':
                  !isFormHasError || !showSearchForm.controls.showName.errors,
                'valid-input':
                  !isFormHasError || !showSearchForm.controls.showName.errors
              }"
              formControlName="showName"
              [placeholder]="
                isFormHasError && showSearchForm.controls.showName.errors
                  ? 'Enter Show Name'
                  : 'Search'
              "
              (change)="onShowNameChange()"
              maxlength="30"
              required
            />
            <button
              [ngClass]="{
                'btn-outline-danger':
                  isFormHasError && showSearchForm.controls.showName.errors
              }"
              class="btn btn-outline-secondary"
              type="submit"
            >
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <div
          class="col-4 col-md-3 text-right align-self-center"
        >
          <i class="bi bi-person-circle guest-icon"></i>
          <span>
            <label class="user-name">Guest</label>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>
