.carousel-section {
  box-sizing: border-box !important;
  .carousel-title {
    padding: 0.5rem 4rem;
    font-weight: 600;
    font-size: x-large;
  }
}
.secondary-bg-color {
  background-color: #2e2e2e;
}
